<h1>JEFFERY</h1>
<h5> We miss you already</h5>

<% @users.each do |user| %>

  <div class="wrapper">
    <div class="col_fifth">
      <div class="hover panel">
        <div class="front box1">
          <a href="http://dpshots.com/images/selective_coloring/Crayons%20Selective%20Color.jpg"></a>
          <%= user.name %>
        </div>
        <div class="back box2">
          <%= user.message %>
        </div>
      </div>
    </div>
  </div>

<% end %>
