<h1>JEFFERY</h1>
<h5>we just wanted to say hello.</h5>

<% @users.each do |user| %>

  <div class="wrapper">
    <div class="col_third">
      <div class="hover panel">
        <div class="front box1">
          <%= user.name %>
          <%= user.image_url %>
        </div>
        <div class="back box2">
          <%= user.message %>
        </div>
      </div>
    </div>
  </div>

<% end %>
